.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    background-color: #c6c4b4;
    text-align: left;
}

.main-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    background-color: #c6c4b4;
    text-align: left;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    background-color: #c6c4b4;
    text-align: left;
}

h1 {
    color: aliceblue;
    background-color: #895121;
    text-align: center;
}

ol {
    padding: 10px 0px 10px 30px;
    background-color: #e5b994;
}

h2 {
    width: 200px;
    padding: 10px;
    text-align: center;
    color: aliceblue;
    background-color: #6493a4;
}

h3 {
    width: 200px;
    padding: 10px;
    text-align: center;
    color: aliceblue;
    background-color: #2c5c63;
}

.partext {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
}

.img-container {
    text-align: center;
}